{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Product Details</title>
  <link rel="stylesheet" href="{% static 'mycss/product.css' %}">
  <script src="{% static 'myjs/productdetails.js' %}"defer></script>
</head>
<body>

<div class="product-container" id="product-details">
  <img id="product-img" class="product-img"/>

  <div class="product-info">
    <h1 id="product-name"></h1>
    <h2 id="product-price"></h2>

    <ul id="product-desc">
      <!-- description list -->
    </ul>

    <button onclick="addToCart()" class="btn-primary">
      Add to Cart 🛒
    </button>

    <a href="/checkout/" class="btn-outline">
      Buy Now ⚡
    </a>
  </div>
</div>

<script>
  const PRODUCT_ID = "{{ product_id }}";
</script>
<script src="{% static 'myjs/product_detail.js' %}"></script>
</body>
</html>
